<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Jokes</title>
    <link rel="stylesheet" href="../stylesheets/random_jokes.css">
</head>

<body>
    <div class="container">
        <h1 class="heading">Random Jokes</h1>
        <div class="section">
            <h2>Type</h2>
            <h1 class="animated-text type">
                <%= type %>
            </h1>
        </div>
        <div class="section">
            <h2>Setup</h2>
            <h1 class="animated-text setup">
                <%= setup %>
            </h1>
        </div>
        <div class="section">
            <h2>Punchline</h2>
            <h1 class="animated-text punchline">
                <%= punchline %>
            </h1>
        </div>
    </div>
</body>

</html>